
{% extends 'main/themes_layout.html' %}

{% load static %}

{% block title %}Arhitektuur{% endblock %}

{% block heading %}Arhitektuur{% endblock %}

{% block src %}{{ el.image.url }}{% endblock %}

{% block alt %}{{ el.heading }}{% endblock %}

{% block article-heading %}{{ el.heading }}{% endblock %}

{% block data-popup %}{{ el.id }}{% endblock %}

{% block id %}{{ el.id }}{% endblock %}

{% block src1 %}{{ el.image.url }}{% endblock %}

{% block article-text %}{{ el.main_text }}{% endblock %}


